# Arquivos de IDE (IntelliJ)
# ========================
.idea/
*.iws
*.iml
*.ipr

# Arquivos de Build e Compilação
# ===============================
# Pasta de saída da compilação
out/
build/
target/

# Arquivos de sistema operacional (Mac/Windows)
.DS_Store
Thumbs.db

# Arquivos temporários do Java
*.class
*.jar
*.war
*.zip
*.log